@import url('https://fonts.googleapis.com/css?Libre+Baskerville|Montserrat&display=swap');


h2{
  font-family: 'Libre Baskerville', serif;
  font-size: 1.75;
  font-variant: capitalize;
}

.bg-gray{
  background-color: gray;
}
